

.session {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Add padding or adjust as needed */
  color: white;
}

.settings-button {
  /* If the button needs additional styling */
  /* For example, to align it vertically with the logo */
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 125px; /* Adjust the width as needed */
  height: auto; /* Retains aspect ratio */
  margin-right: 10px; /* Spacing between the logo and the company name */
}

.logo h1 {
  margin: 0;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align the content to the top */
  background: linear-gradient(to right, black, red);
  padding: 20px; /* Add padding for better spacing */
}

.rounded-box {
  border-radius: 15px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 60vh; /* Set a maximum height for the table */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds the maximum height */
}

.data-table {
  border-collapse: collapse; /* Remove default table borders */
  width: 100%;
}

.data-table th {
  text-align: left;
  padding: 8px;
}

.data-table th button {
  background: blue; /* Blue button background color */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.blue-button {
  background: blue; /* Blue button background color */
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}
.data-table th:not(:first-child) {
  padding-left: 20px;
}

.data-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc; /* Row borders */
}

.data-table tbody tr:last-child td {
  border-bottom: none; /* Remove bottom border from the last row */
}

