body {
  margin: 0;
  padding: 0;
}


.settings {
  background: linear-gradient(to right, black, red);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.header {
  display: flex;
  padding: 10px; /* Add padding or adjust as needed */
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px; /* Adjust as needed */
}

.logo-img {
  height: 50px; /* Adjust the size of the logo */
  width: 50px;
  margin-right: 10px; /* Adjust as needed */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.settings .overlap-group {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 7px #0000008c;
  height: 500px;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.setting-input {
  margin-bottom: 10px;
}

.rounded-input {
  background-color: #ffffff05;
  border: 1px solid;
  border-color: #00000066;
  border-radius: 10px;
  height: 48px;
  color: #000000;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.big-button {
  font-size: 16px;
  margin: 10px;
}

  